.container {
    display: grid;
    grid:
        'header header header header'
        'nav nav nav nav'
        'aside main main main'
        'aside main main main'
        'aside main main main'
        'footer footer footer footer';
    grid-gap: 10px;
    background-color: rgb(226, 247, 247);
    padding: 10px;
}

header {
    background-color: rgb(198, 229, 250);
    padding: 20px;
    grid-area: header;
    text-align: center;
}

nav {
    background-color: rgb(251, 204, 204);
    padding: 20px;
    grid-area: nav;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
}

.active{
    color: red;
}

li a:hover{
    background-color: rgb(250, 156, 164);
}

section {
    background-color: rgb(225, 198, 250);
    padding: 20px;
    grid-area: main;
}

form{
    border: rgb(72, 2, 249);
}
form div{
    display: flex;
    justify-content:space-between;
    margin-left: 350px;
    margin-right: 350px;
}

aside {
    background-color: rgb(202, 244, 209);
    padding: 20px;
    grid-area: aside;
}

footer {
    background-color: rgb(231, 242, 181);
    padding: 20px;
    grid-area: footer;
}
